@import "../../styles/Variables.scss";
.form {
  width: 82%;
  display: flex;
  justify-content: center;
  gap: 20px;
  &_input {
    width: 100%;
    display: flex;
    gap: 20px;
  }
}
.controls {
  margin: 20px 0px 40px 0px;
  width: 82%;
  justify-content: end;
  display: flex
}

