$green:green;
$lightBlue:#1976d2;
$grey:rgba(0, 0, 0, 0.35);
$red:red;
$azure:rgb(244, 243, 243);
$wheat:#d9cdcd;
$lightGrey:rgb(82, 82, 82);
$lightGray:#9e9d9d;
$white:white;
$black:black;
$gray:rgb(207, 204, 204);
$lightRed:#e76363;
$lightCyan:rgb(244, 243, 243);
$cyan:#ccc;
$lemonchiffon:#d9cdcd;
$orange:orange;
$overlay:rgb(0,0,0,0.25);

